body{
    margin: 0;
    font-family: sans-serif;
}

.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.h-100{
    height: 100%;
}

.h-100vh{
    height: 100vh;
}

.input-wrapper{
    margin: 0 20px;
    width: 20%;
}

.temp1, .temp2{
    width: 100%;
    font-size: 36px;
}